.imageSize {
    width: 100%;
    height: auto;
}

.nvidiaImg {
    max-width: 300px;
    height: auto;
}

.colDesign {
    background-color: rgb(71, 71, 71);
    margin: 10px;
    padding: 2%;
    border-radius: 10px;
}

.txtDesign {
    font-size: calc(16px + 0.5vw); 
}

.full-page-div3 {
    left: 0;
    background-color: #757e80;
}


@media (min-width: 1200px) {
    .spacing {
        margin-left: 200px;
        margin-right: 200px;
    }
}